nextflow {
    enable.moduleBinaries = true
    process.executor = 'slurm'
}


/*
 * Execution profiles for different environments.
 */
profiles {
    conda {
        process.conda = "$baseDir/scseq-cuda.yml"
        conda.enabled = true
    }
}

/*
 * pipeline parameters
 */
params {
    datlabel = 'mydata123'
    datadir = "/path/to/cellranger/outs"
    outdir = "/path/to/analysis/outs"
    intoutdir = "/path/to/integrated/analysis/inputs/and/outs"

    //inputseurat = "${params.datadir}/total_mod.rds" // define seurat object file if inputting this instead of using barcodes,features,counts - leave as empty string if not passing in seurat
    //inputseurat_samplecol = "SampleID"
    fcellmin = 3
    ffeatmin = 200
    fquantmin = 0.005
    fquantmax = 0.98
    fmito = 10
    species = "mouse"
    tissue = "breast"

    // TODO dependent on filenaming scheme
    // GET SAMPLE INFO
    // captures everything between the first and last underscore in the filename
    parseregex = '^[^_]+_(.*)_.*$' 
    // captures first _ and first .
    // parseregex = '^[^_]+_|\\..*$'
    parsesplit = "_" // defines what to split sample on usually - or _


    // TODO modular settings to set for analysis
    detectdoub = 1 // 1 means you want to detect doublets, 0 means you don't (required to remove doublets but costs time)
    removedoub = 1 // 1 means you want to remove doublets, 0 means you don't (may be useful filter but costs time and additional storage)
    norm = "SCT" // #"SCRAN" # "SCT" # "LOGNORM"
    integrate = "NONE" // # "ALL", "GROUP" # "NONE" either integrate everything together, just by sample_name, or none

    npca = 30
    clusterreslist = "[0.4,0.6,0.5,0.8,1,1.2,2]"
    topn_feat = 20
    reduction = "pca" 
    subcluster = 0 // 1 means you want to subcluster, 0 means you don't
    subclustername = "" // you should set this if subcluster = 1
    clusterres = 2
    markerdir = "/path/to/reference/celltype/markers/"

    // params for python reference based mapping - likely can just keep defaults
    reflab = "mouse-tabula-muris-senis-droplet"
    scanvi_model_path = "/path/to/reference/model/scanvi"
    celltypist_model_path = "/path/to/reference/model/celltypistmodel.pkl"
    // output for model training and outs 
    subdirectory_name = "scanvi-celltypist_outs"

    // column name for sample identifier for each subject/patient/rat/mouse 
    sample_id = "sample"

    // annotation column names
    annofield1 = "cell_type1"
    annofield2 = "cell_type2"

}


